:root {
  --primary-color: #9f3bf6;
  --background-color: #7bf43f;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('/public/images/crayon_background.jpg');  /* You'll need to add this image to your public folder */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffff;
  pointer-events: none;
  mix-blend-mode: multiply;
}

.container {
  max-width: 1500px;
  margin: 2rem 0 2rem 2rem;
  padding: 2rem;
  background-color: #ffff;
  background-size: 40px 20px;
  position: relative;
  /* border: 1px solid #fff; */
  box-shadow: 
    0 0 0 10  px #f4d03f,
    0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

h1 {
  font-family: 'Comic Sans MS', 'Chalkboard SE', cursive;
  text-align: left;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, #7869ff, #9370DB);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  padding-bottom: 0.5rem;
}

h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 4px;
  background: linear-gradient(120deg, #FF69B4, #9370DB);
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(147, 112, 219, 0.2);
}
